<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">

      <h1>User info</h1>
        <%= render 'users/user', user: @user %>

      <%= link_to edit_user_path(@user.id), class: 'btn btn-outline-secondary btn-block', method: :get do %>
        <i class="fas fa-user-cog"></i>
      <% end %>

      <h3>New book</h3>
        <%= render 'books/book', book: @newbook %>
      </div>

      <div class="col-md-8 offset-md-1">
        <table class="table table-hover table-inverse">
          <h4>Users</h4>
          <thead>
            <th>image </th>
            <th>name </th>
              <tr>
              <% @users.each do |user| %>
                <tr>
                  <th>
                      <%= image_tag user.get_profile_image(100,100), fallback: "no_image.jpg" %>
                  </th>
                  <th><%= user.name %></th>
                  <th><%= link_to "Show", user_path(user.id) %></th>
                </tr>
              <% end %>
              </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</main>
